.list {
    list-style: none;
}

.listItem {
    display: flex;
    flex-flow: row wrap;
    border-bottom: solid grey 1px;
    margin-bottom: 10px;
}

.header {
    color: grey;
    font-size: 1.1rem;
    font-weight: bold;
    flex: 1 100%;
    text-align: left;
}

.main {
    flex: 2;
    margin-bottom: 20px;
    order: 1;
}

.aside {
    order: 2;
    flex-grow: 1;
}

.avatar {
    height: 40px;
    width: 40px;
}

.avatarLink {
    cursor: pointer;
}

.userLogin {
    cusor: pointer;
    font-size: .8rem;
}
