.list {
    list-style: none;
}

.listItem {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}

.listStyle {
    border-bottom: solid grey 1px;
}

.header {
    color: grey;
    font-size: 1.1rem;
    font-weight: bold;
    flex: 1 100%;
    text-align: left;
}

.main {
    align-items: center;
    color: #999;
    display: flex;
    flex: 8;
    font-size: .8rem;
    margin-bottom: 20px;
    order: 1;
    text-align: left;
}

.aside {
    order: 2;
    flex-grow: 1;
    text-align: right;
}

.avatar {
    height: 60px;
    width: 60px;
    border-radius: 6px;
}

.avatarLink {
    cursor: pointer;
}

.userLogin {
    cusor: pointer;
    font-size: .8rem;
}

.label {
    font-size: .8rem;
    margin-bottom: 10px;
}

.labelColor {
    border: solid 1px #3a33d1;
    border-radius: 5px;
    padding: 3px;
}
