:global {
    @import 'base';
    @import '~normalize.css/normalize';

    // Some best-practice CSS that's useful for most apps
    // Just remove them if they're not what you want
    html {
        box-sizing: border-box;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 10px;
        text-size-adjust: 100%;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        font-size: 1.3rem;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    @mixin
}
