.container {
    border: solid blue 1px;
    border-radius: 6px;
    padding: 10px;
}

.commentContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.commenter {
    flex: 1 0 0;
    text-align: left;
}

.commentText {
    flex: 10 0 0;
    font-size: .8rem;
    text-align: left;
}
